.container{
    padding-left: 20px;
    padding-right: 20px;
}

.nuevo-producto{
    float: right;
}

.tittle{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}